.navbar{
    background-color: rgb(245, 151, 167);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-evenly; /*used to bring content evenly along the main axis*/
    height: 25px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    
}

li{
    list-style-type: none;
    background-color:rgb(211, 45, 78);
    font-size: 15pt;
}

.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex; 
    justify-content: center;
    align-items: center; /* to center items in the center on the cross axis */
}

.inner{
    height: 100px;
    width: 100px;
    background-color:crimson;
}